{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editer une Série</h1>
    <div class="row justify-content-center">
        <div class="col-6">
            {{ form(serie_form) }}
        </div>
    </div>
{% endblock %}